{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'RandomLetters/style/app_wrapper.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        <div>From</div>
        <input type="number" min="1" max="10000">
        <div> - </div>
        <div>to</div>
        <input type="number" min="1" max="10000">
    </form>
</body>
</html>