{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Enlen</title>
	<link rel="stylesheet" type="text/css" href="{% static 'TakitaLoner/style/index_style.css' %}">
</head>
<body>
	
	<nav>
		<a class="nav_item" href="/symplex-method">Symplex Method</a>
		<a class="nav_item" href="/random-letters">Random Letters</a>
		<a class="nav_item" href="/math-method-3">Math method 3</a>
		<a class="nav_item" href="/math-method-4">Math method 4</a>
	</nav>
	
	<article>
		<div class="article_container">
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 1
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 2
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 3
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 4
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 5
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 6
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 7
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 8
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 9
				</a>
			</div>
            <div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 10
				</a>
			</div>
            <div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 11
				</a>
			</div>
			<div class="article_item_border">
				<a class="article_item" href="#">
					Time text for tests 12
				</a>
			</div>
		</div>
	</article>

	<footer>
		footer text
	</footer>

</body>
</html>