{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enlen</title>
	<link rel="stylesheet" type="text/css" href="{% static 'TakitaLoner/style/index_style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-inverse ">
		<!-- navbar-fixed-top -->
		<div class="container-fluid">
			<div class="navbar-header">
                <a class="navbar-brand" href="#">MirplMapTok</a>
            </div>
			<ul class="nav navbar-nav">
				<li><a href="/symplex-method">Symplex Method</a></li>
				<li><a href="/random-letters">Random Letters</a></li>
				<li><a href="/math-method-3">Math method 3</a></li>
				<li><a href="/math-method-4">Math method 4</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
		<a href="#" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-default">Time text for tests 12</a>
	</div>

	<footer class="container-fluid text-muted">
		<div class="col-xs-12 col-sm-5">
			<h3>Some usefull info</h3>
			<div>email: <a href="google.com">google.com</a></div>
			<div>phone: +380 66 666 66 66</div>
		</div>
		<div class="col-xs-12 col-sm-7">
			<h3>A lot of usefull information</h3>
			<div>email: <a href="google.com">google.com.jsdlfk/jsldf/af/sdfa/sdfasdf/asdfasdf</a></div>
			<div>phone: +380 66 666 66 66 - 4367 738 78 98 + 23</div>
		</div>

		<div class="text-center">
			Thanks for your opinion.
		</div>
	</footer>
</body>
</html>